@page "/"
@using Fotos.Client.Features.PhotoFolders
@using System.Collections.ObjectModel

@inject ListFolders ListFolders
@inject CreateFolder CreateFolder
@inject GetFolder GetFolder
@inject RemoveFolder RemoveFolder
@inject CreateAlbum CreateAlbum
@inject ListAlbums ListAlbums
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
@if (!_loaded)
{
    <p id="loader">Loading...</p>
}
else
{
    <h1>Folders</h1>
    <p id="current-folder-name">@_currentFolder.Name</p>
    <p>
        <InputText @bind-Value="_newFolder" />
        <button id="create-folder" class="btn btn-primary" @onclick="CreateNewFolder">Create Folder</button>
    </p>
    <p>
        <button id="up" class="btn btn-primary" @onclick="GotToParentFolder" disabled="@(_currentFolder.ParentId == Guid.Empty)">Go to parent</button>
    </p>
    <ul>
        @foreach (var folder in _folders)
        {
            <li>@folder.Name
                <button id="go" class="btn btn-primary" @onclick="() => GotToFolder(folder)">Go</button>
                <button id="remove" class="btn btn-primary" @onclick="() => RemoveThisFolder(folder)">X</button></li>
        }
    </ul>
    <h1>Albums</h1>
    <p>
        <InputText id="new-album-name" @bind-Value="_newAlbumName" />
        <button id="create-album" class="btn btn-primary" @onclick="CreateNewAlbum">Create Album</button>
    </p>
    <div id="albums">
        <ul>
            @foreach (var album in _albums)
            {
                <li>@album.Name
                    <button id="go-album" class="btn btn-primary" @onclick="() => GoToAlbum(album.Id)">Go</button>
                </li>
            }
        </ul>
    </div>
}

@code {
    private List<Folder> _folders = [];
    private List<Album> _albums = [];
    private Folder _currentFolder = new();
    private string _newFolder = string.Empty;
    private string _newAlbumName = string.Empty;
    private bool _loaded = false;

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _currentFolder = (await ListFolders(Guid.Empty)).Single();

            await RefreshFoldersAndAlbums();

            _loaded = true;
            StateHasChanged();
        }
    }

    private async Task RefreshFoldersAndAlbums()
    {
        _folders = (await ListFolders(_currentFolder.Id)).ToList();
        _albums = (await ListAlbums(_currentFolder.Id)).ToList();
    }

    private async Task CreateNewFolder()
    {
        await CreateFolder(_currentFolder.Id, _newFolder);

        await RefreshFoldersAndAlbums();
        _newFolder = string.Empty;
    }

    private async Task GotToFolder(Folder folder)
    {
        _currentFolder = folder;

        await RefreshFoldersAndAlbums();
    }

    private async Task GotToParentFolder()
    {
        _currentFolder = await GetFolder(_currentFolder.ParentId);

        await RefreshFoldersAndAlbums();
    }

    private async Task RemoveThisFolder(Folder folder)
    {
        await RemoveFolder(folder.Id);

        _folders.Remove(folder);
    }

    private async Task CreateNewAlbum()
    {
        await CreateAlbum(_currentFolder.Id, _newAlbumName);
        await RefreshFoldersAndAlbums();
        _newAlbumName = string.Empty;
    }

    private void GoToAlbum(Guid albumId)
    {
        NavigationManager.NavigateTo($"album/{albumId}");
    }
}