@using Fotos.App.Components.Models;

<MudDialog Options="_settingsOptions">
    <TitleContent>
        <MudText Typo="Typo.h5">Folder settings</MudText>
    </TitleContent>
    <DialogContent>
        <div id="folder-settings">
            <MudTextField Label="Folder name" @bind-Value="Folder.Name" Variant="Variant.Filled" Immediate />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="CancelChanges">Cancel</MudButton>
        <MudButton id="save" Variant="Variant.Filled" OnClick=SaveChanges>Save</MudButton>
    </DialogActions>
</MudDialog>

