@inherits LayoutComponentBase

@inject IHostEnvironment HostEnvironment

<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<CustomErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <MudLayout>
            <MudAppBar>
                Fotos
            </MudAppBar>
            <MudMainContent>
                @Body
            </MudMainContent>
        </MudLayout>
    </ChildContent>
    <ErrorContent>
        <div class="alert alert-danger" role="alert">
            <p class="fs-3 fw-bold">😈 A rotten gremlin got us. Sorry!</p>
            <p>@context.Message</p>
            @if (HostEnvironment.IsDevelopment())
            {
                <p>@context.StackTrace</p>
            }
            <button class="btn btn-info" @onclick="_ => errorBoundary?.Recover()">
                Clear
            </button>
        </div>
    </ErrorContent>
</CustomErrorBoundary>

@code {
    private ErrorBoundary? errorBoundary = default!;
}