@page "/account/signin"

@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Authentication

@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [AllowAnonymous]

<PageTitle>Sign In</PageTitle>

<MudPaper Class="mt-6 pa-4">
    <MudText Typo="Typo.h6">Login using...</MudText>
    <div class="d-flex justify-center">
        <form id="google-login" class="ma-4" method="post" action="/account/login?returnurl=@ReturnUrl.ToString()">
            <input type="hidden" name="provider" value="google" />
            <AntiforgeryToken />
            <MudButton ButtonType="ButtonType.Submit" StartIcon="@Icons.Custom.Brands.Google" Variant="Variant.Outlined" Size="Size.Large">Google</MudButton>
        </form>
    </div>
</MudPaper>

